* {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "Poppins"; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #ff4141;
  --black: #171717;
  --grey: #626262;
  --lightgrey: #f3f3f3;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
